width(v)
  +cache('v' + v)
    if typeof(v) == 'unit' and unit(v) == ''
      width: 100% * v
    else if v and v is defined
      width: v

height(v)
  +cache('v' + v)
    if typeof(v) == 'unit' and unit(v) == ''
      height: 100% * v
    else if v and v is defined
      height: v

size(w, h)
  width w
  height h

align(a)
  +cache('a' + a)
    if a == top or a == bottom or a == middle or a == baseline
      vertical-align a
    if a == left or a == right or a == center
      text-align a
