unless $default-prefix is set
  $default-prefix = $

$lookup(n, r)
  if lookup('' + n + '-' + r)
    lookup('' + n + '-' + r)
  else if lookup('' + $default-prefix + n + '-' + r)
    lookup('' + $default-prefix + n + '-' + r)

vendor_prop(prop, args...)
  +cache(prop, args)
    {prop} args
    -webkit-{prop} args
    -moz-{prop} args
    -o-{prop} args

vendor_args(prop, args...)
  +cache(prop, args)
    {prop} args
    {prop} s('-moz-%s', args)
    {prop} s('-webkit-%s', args)
    {prop} s('-o-%s', args)

vendor(prop, args...)
  vendor_prop(prop, args)

rule(n, r)
  +cache(n, r)
    v = $lookup(n, r)
    if v
      {r} v

vrule(n, r)
  +cache(n, r)
    v = $lookup(n, r)
    if v
      vendor_prop(r, v)

rulev(n, r)
  +cache(n, r)
    v = $lookup(n, r)
    if v
      vendor_args(r, v)
