@require 'lookup'
@require 'vendor'

rule(n, r)
  +cache('n' + n, 'r' + r)
    v = $lookup(n, r)
    if v
      {r} v

vrule(n, r)
  +cache('n' + n, 'r' + r)
    v = $lookup(n, r)
    if v
      vendor-prop(r, v)

rulev(n, r)
  +cache('n' + n, 'r' + r)
    v = $lookup(n, r)
    if v
      vendor-args(r, v)
